@import "compass";
@include global-reset;
@include reset-html5;

html {
  @include background-image(linear-gradient(#ddd, darken(#ddd, 20)));
  background-color: #ddd;
  height: 100%;
}

body {
  background: none;
  text-align: center;
  padding-top: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
}

#{headings()} {
  @include text-shadow(rgba(#000, 0.3) 1px 1px 4px);
  letter-spacing: -1px;
  margin: 0.4em 0 0.8em;
  font-weight: bold;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}

div.base {
  @include box-shadow(rgba(#000, 0.4) 0 0 1px 1px inset);
  @include border-radius(10px);
  @include background-clip(padding-box);
  background: #eee;
  width: 810px;
  margin: 0 auto;
  padding: 40px 20px;
  
  & > div {
    margin: 1em 0;
  }
}
